body {
  background-color: #666;
}

header {
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* Residents */
.residents-list {
  background-color: #aaa;
}