* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  background-color: #666;
  position: relative;
  height: 100vh;
}

header {
  text-align: center;
  margin: 10px 0;
}

ul {
  list-style-type: none;
}

button {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/***** Home *****/
.home {
}

.home--loggin {
  display: flex;
  background-color: #888;
  justify-content: space-around;
}

.home .image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home .image-grid img{
  max-width: 33.333%;
}

.home--loggin button {
  margin: 10px;
  padding: 10px;
}

/***** Residents *****/
.residents-list {
  background-color: #aaa;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.residents-list h4 {
  display: flex;
}

.residents-list h4 span {
  text-decoration: underline;
  width: 15%;
}

.residents-list li {
  padding: 5px;
  display: flex;
  align-items: center;
}

.residents-list li span {
  width: 15%;
  position: relative;
  margin-right: 5px;
}

.residents-list li span .meal {
  position: relative;
  margin-right: 25px;
}

.meal .meal--eaten{
  content: "";
  background-color: red;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
}

.residents-list li span .available {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 22%;
  left: 22%;
  transform: translate(-50%, -50%);
}

.residents-list li span input[type='checkbox']{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.residents-list ul hr:last-child {
  display: none;
}

/** Residents > Modal Form **/
.edit-modal {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.edit-modal form {
  background-color: #aaa;
  margin-top: 10%;
  max-width: 60vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.edit-modal form span {
  position: relative;
}

.edit-modal .meal {
  position: relative;
  margin-right: 25px;
}

.meal .meal--eaten{
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
}

.edit-modal form span .available {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 40%;
}

/***** Add Resident *****/
.add-resident {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 2rem;
  padding: 10px 20p;
}

.skills-container {
  display: flex;
  justify-content: space-between;
}

.skills-container p {
  margin-right: 10px;
}

.skillsBtn {
  cursor: pointer;
  color: #1a0dab;
}

/***** Skillz *****/
.residentsBackBtn {
  position: absolute;
  left: 10px;
  top: 10px;
}

.skillz-list {
  background-color: #aaa;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.skillz-list h4 {
  display: flex;
  justify-content: center;
}

.skillz-list h4 span {
  text-decoration: underline;
}